In [1]:
l = [1,2,3,4,5,6,'kuma',29.04]

In [2]:
for i in l :
    print(i)

1
2
3
4
5
6
kuma
29.04

In [3]:
for i in l :
    pass

if we are not writing a body we can just give it pass so it does not give an error

In [4]:
k = 'kuma'
for i in k :
    print(i)

k
u
m
a

In [5]:
for i in l :
    print(i)
else :
    print('Once the conditions gets fullfilled it will print this')

1
2
3
4
5
6
kuma
29.04
Once the conditions gets fullfilled it will print this

In [6]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print('this will execute when the statement will execute itself')

1
2
3

The else function did not execute because it iwlol only execute if the 'if' executes itself but in here
break is taking it out of loop because of which the else statement will not execute

In [7]:
h = 'himanshu'

In [8]:
for i in h :
    if i == 'n':
        break
    print(i)
else :
    print("let's see")

h
i
m
a

In [9]:
t = (4,5,6,7,8,6,"kuma")
for i in t :
    print(i)

4
5
6
7
8
6
kuma

In [10]:
b = {4,5,6,7,7,7,7,8,"kuma"}

In [11]:
type(b)

set

In [12]:
b

{4, 5, 6, 7, 8, 'kuma'}

set only shows unique values not duplicate ones

In [13]:
for i in b :
    print(i)

4
5
6
7
8
kuma

In [14]:
d ={'key1' : 'kuma', 'Contact' : 'Coolboy@gmail.com', 'Info' : 1234}

In [15]:
for i in d :
    print(i)

key1
Contact
Info

It is only returning keys

to get values like this

In [16]:
d['key1']

'kuma'

In [17]:
for i in d :
    print(d[i])

kuma
Coolboy@gmail.com
1234

To get both the values

In [18]:
for i in d :
    print(d[i],":",i)

kuma : key1
Coolboy@gmail.com : Contact
1234 : Info

In [19]:

range(9)

range(0, 9)

In [20]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [22]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [24]:
list(range(0,9,-1))

[]

In [25]:
list(range(9,0,-2))

[9, 7, 5, 3, 1]

Range is a function which is used to produce a data set at any point of time

In [26]:
n = 4
for i in range(4) :
    for j in range(0 , i+1) :
        print("kuma", end = " ")
    print("\n")

kuma

kuma kuma

kuma kuma kuma

kuma kuma kuma kuma

(\n) is used to CHANGE LINE

In [27]:
n = 3
for i in range(3) :
    for z in range(0, i+1) :
        print("                      ",'kuma', end = " ")
        for z in range(0,i+1) :
            print("kuma", end = " ")
    print('\n')

                       kuma kuma

                       kuma kuma kuma                        kuma kuma kuma

                       kuma kuma kuma kuma                        kuma kuma kuma kuma                        kuma kuma kuma kuma

In [28]:
n = 3 
for i in range(n) :
    for z in range(i,n-1):
        print(" " * len("kuma"), end =" ")
    print()

n = 3 because we have to print 3 rows

In [29]:
n = 3
for i in range(n):
    for z in range(i,n-1):
        print(" " * len("Kuma"),end = " ")
    for z in range(i+1):
        print("Kuma",end=" ")
    for z in range(i):
        print("Kuma",end = " ")
    print()

          Kuma
     Kuma Kuma Kuma
Kuma Kuma Kuma Kuma Kuma

In [30]:
t = (3,23,45,67,2,4,5,6)

In [31]:
t[0]

3

In [32]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

here we are trying to print index with their element

In [33]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [34]:
t.index

In [35]:
s = "ineuron"
range(len(s))

range(0, 7)

In [36]:
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [37]:
s[::-1]

'norueni'

In [38]:
for i in range(len(s)-1, -1 , -1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

here we are printing the index and elements in reverse order

In [39]:
for i in range(len(s)-1, -1, -1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [40]:
d

{'key1': 'kuma', 'Contact': 'Coolboy@gmail.com', 'Info': 1234}

In [41]:
for i in d.items():
    print(i,type(i), type(i[1]))

('key1', 'kuma') <class 'tuple'> <class 'str'>
('Contact', 'Coolboy@gmail.com') <class 'tuple'> <class 'str'>
('Info', 1234) <class 'tuple'> <class 'int'>

Here to get the type of the values we use the index positions of the items to get their type which in this case is "1"

In [42]:
l = ["himanshu", "kumar", 123456, "coolboy@gmail.com", 3353, 56]

In [43]:
l

['himanshu', 'kumar', 123456, 'coolboy@gmail.com', 3353, 56]

In [44]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [45]:
l1

[123456, 3353, 56]

we used this statement to create a new list with only the numbers from the previous ones

In [46]:
d = {1:34567, "name" : "kuma", "email" : "coolboy@gmail.com", 564:"jfhfj", 765:"bhjj", 77:"9969"}

In [47]:
for i in d :
    if type(i) == int:
        print(i, ":", d[i])

1 : 34567
564 : jfhfj
765 : bhjj
77 : 9969

Here, we are extracting the pairs where the value of key is integer

In [49]:
s ="aaaabbbcccd"

In [51]:
set(s)

{'a', 'b', 'c', 'd'}

set prints unique values

In [53]:
s.count("a")

4

In [67]:
for i in set(s):
    print(i, ":", s.count(i))

c : 3
a : 4
d : 1
b : 3

In [73]:
i = 3456243655
for z in i:
    print(i)

TypeError: 'int' object is not iterable

In [71]:
str(i)

'3456243655'

to call every element separately we need to typecast it

In [76]:
for z in str(i):
    print(z, type(int(z)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
2 <class 'int'>
4 <class 'int'>
3 <class 'int'>
6 <class 'int'>
5 <class 'int'>
5 <class 'int'>

In [124]:
t =("kuma", "san", [1,2,3,4,5], (3,4,5,6), {3 : 3, "key2" : "san"})

In [104]:
for i in str(t):
    if i == "3":
        print(i)

3
3

In [129]:
for i in t:
    if type(i) == tuple or type(i) == list :
        for z in i :
            if z == 3 :
                print(z)
    if type(i) == dict :
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3

In [132]:
d = {4:5, "key1" : "kuma", "key2" : "san"}

In [141]:
for i,j in d.items():
    print(i,j)

4 5
key1 kuma
key2 san

In [137]:
d.items()

dict_items([(4, 5), ('key1', 'kuma'), ('key2', 'san')])